In [1]:
# для запросов
import requests

# для работы с JSON
import json

# для работы с папками
import os

# прогресс-бар
from tqdm.notebook import trange, tqdm

# 
from datetime import timedelta, date

# для пауз при парсинге
from time import sleep

# для дафреймов
import pandas as pd


import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

from pymystem3 import Mystem

import spacy # общий пакет, где лежит весь функционал
import en_core_web_sm # натренированные модели на english

import string # пунктуация

import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)

pd.options.display.max_rows = 999

In [2]:
file_path = 'C:/00_Projects/NYT/new/'

### Загружаю файлы  ###

In [3]:
work = pd.read_csv(file_path + 'NYT_temp.csv')

In [4]:
work.shape

(74702, 5)

In [6]:
work.head()

,headline,print_headline,pub_date,need_year,need_mounth
0,WAR UNTIL VICTORY.; Against an Attempt to End ...,WAR UNTIL VICTORY.; Against an Attempt to End ...,1917-01-01T05:00:00+0000,1917,1
1,GATHER FOR JUNIOR MEET.; Athletes Reach Buffal...,GATHER FOR JUNIOR MEET.; Athletes Reach Buffal...,1917-01-01T05:00:00+0000,1917,1
2,ARRIVAL OF BUYERS,ARRIVAL OF BUYERS,1917-01-01T05:00:00+0000,1917,1
3,DECEMBER TRANSACTIONS,DECEMBER TRANSACTIONS,1917-01-01T05:00:00+0000,1917,1
4,45 IDIOT GIRLS DIE IN FIRE IN CANADA; Convent ...,45 IDIOT GIRLS DIE IN FIRE IN CANADA; Convent ...,1917-01-01T05:00:00+0000,1917,1

In [ ]:
# перевожу названия столбцов в нижний регистр

work.columns = work.columns.str.lower()

In [ ]:
work['clear'] = work['headline'].copy()

In [ ]:
work['clear'] = work['clear'].str.lower()
work['clear'] = work['clear'].str.replace(r'[^\w\s]+', ' ', regex=True)
work['clear'] = work['clear'].str.replace(r'[0-9]+', ' ', regex=True)
work['clear'] = work['clear'].str.replace('\s+', ' ', regex=True)

In [ ]:
work.head()

In [ ]:
work.shape

In [ ]:
with open(file_path + 'stop_en.txt', 'r', encoding='utf-8') as f:
        stopwords = f.read().split('\n')

In [ ]:
nlp = en_core_web_sm.load()

In [ ]:
def lemma_text(df):
    
    new_text = nlp(str(df['clear']))
    punctuations = string.punctuation
    
    mytokens = nlp(str(new_text))
    mytokens = [ word.lemma_.lower().strip() for word in mytokens ]
    mytokens = [ word for word in mytokens if word not in stopwords and word not in punctuations ]
    mytokens = " ".join([i for i in mytokens])
    return mytokens

In [ ]:
work_1 = work.copy()

In [ ]:
%%time

work_1['new'] = work_1.apply(lemma_text, axis=1)

In [ ]:
work_1.shape

In [ ]:
work_1.to_csv(file_path + '/work_2000_4_2.csv', encoding='utf8', index=False)