In [1]:
# для работы с папками
import os

# прогресс-бар
from tqdm.notebook import trange, tqdm

# регулярки
import re

# 
from datetime import timedelta, date

# для пауз при парсинге
from time import sleep

# для дафреймов
import pandas as pd

In [2]:
file_path = 'C:/00_Projects/NYT/new/'

In [3]:
# вытаскиваю названия файлов в список file_list

file_list = []

for root, dirs, files in os.walk(file_path + 'decades/'):
    
    for filename in files:
        file_list += [filename]

In [4]:
print(file_list)

['NYT_1850_1859.csv', 'NYT_1860_1869.csv', 'NYT_1870_1879.csv', 'NYT_1880_1889.csv', 'NYT_1890_1899.csv', 'NYT_1900_1909.csv', 'NYT_1910_1919.csv', 'NYT_1920_1929.csv', 'NYT_1930_1939.csv', 'NYT_1940_1949.csv', 'NYT_1950_1959.csv', 'NYT_1960_1969.csv', 'NYT_1970_1979.csv', 'NYT_1980_1989.csv', 'NYT_1990_1999.csv', 'NYT_2000_2009.csv', 'NYT_2010_2019.csv', 'NYT_2020_2029.csv']

In [5]:
need_words = ['women']

In [6]:
need_word = input()

woman

In [23]:
work_pairs = pd.DataFrame()


for file_name in tqdm(file_list):
            
    work = pd.read_csv(file_path + 'decades/' + file_name) # загружаю датасет десятилетия
    
    year_list = list(work['year'].unique()) # список годов декады
    

    
    for need_year in year_list:
        
        pair_list = [] # список для слов
        
        year_work = work[work['year'] == need_year]
                
        pair_words = year_work[(year_work['new'].str.contains(f'{need_word} ', case=False, na=False))
                         ][['new']].reset_index()
        
        for need_pare in pair_words['new']:
            
            #pair_list += re.findall(f'{need_word}\s\S+', need_pare)
            pair_list += re.findall(f'\S+\s{need_word}', need_pare)
            
            
        work_pair_words = pd.DataFrame(pair_list, columns=['word'])
        work_pair_words['number'] = 1
        pair_number = (work_pair_words
                       .groupby('word', as_index=False)
                       .agg({'number': 'sum'}))
        
        pair_number['decade'] = file_name[4:13]
        pair_number['year'] = need_year
            
            
        # добавляю в общий фрейм
        work_pairs = work_pairs.append(pair_number)

  0%|          | 0/18 [00:00<?, ?it/s]

In [24]:
work_pairs_years = (work_pairs.groupby(['decade', 'year', 'word'], as_index=False)
                    .agg({'number': 'sum'})
                    #.sort_values(['year', 'number'], ascending=[True, False])
                   )

In [25]:
work_pairs_years.to_excel(file_path + need_word + '2.xlsx', index=False)

In [26]:
work_pairs_years

           decade  year                 word  number
0       1850_1859  1851          alarm woman       1
1       1850_1859  1851       american woman       1
2       1850_1859  1851        another woman       1
3       1850_1859  1851           body woman       1
4       1850_1859  1851  demonstration woman       1
...           ...   ...                  ...     ...
124792  2020_2029  2022           work woman       1
124793  2020_2029  2022      workplace woman       2
124794  2020_2029  2022           yard woman       1
124795  2020_2029  2022           york woman       1
124796  2020_2029  2022          young woman      11

[124797 rows x 4 columns]