In [1]:
# для запросов
import requests

# для работы с JSON
import json

# для работы с папками
import os

# прогресс-бар
from tqdm.notebook import trange, tqdm

# 
from datetime import timedelta, date

# для пауз при парсинге
from time import sleep

# для дафреймов
import pandas as pd


import en_core_web_sm

import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

from pymystem3 import Mystem

import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)

pd.options.display.max_rows = 999

In [2]:
import spacy ## общий пакет, где лежит весь функционал
import en_core_web_sm ## натренированные модели на русском
import string ## здесь возомьм пунктуацию
import nltk # удобный пакет для всякой работы с текстом

In [4]:
file_path = 'C:/00_Projects/NYT/new/'

In [5]:
work = pd.read_csv(file_path + 'work_2000.csv')

In [6]:
work.shape

(766982, 7)

In [7]:
work.head()

,date,lead_paragraph,clear,year,month,day,month_year
0,2000-01-01T00:00:00Z,"YOUNG, hip and smart, Casey Collier seems to g...",young hip and smart casey collier seems to gli...,2000,1,1,01_2000
1,2000-01-01T00:00:00Z,If Boris N. Yeltsin really meant it about bein...,if boris n yeltsin really meant it about being...,2000,1,1,01_2000
2,2000-01-01T00:00:00Z,"To: Marcy From: Britanny Videotex, 6/6/2025 (a...",to marcy from britanny videotex a transcript w...,2000,1,1,01_2000
3,2000-01-01T00:00:00Z,The glorious athletes of Eliot Feld's ''Aurora...,the glorious athletes of eliot feld s aurora i...,2000,1,1,01_2000
4,2000-01-01T00:00:00Z,President Boris N. Yeltsin's resignation today...,president boris n yeltsin s resignation today ...,2000,1,1,01_2000

In [ ]:
# перевожу названия столбцов в нижний регистр

work.columns = work.columns.str.lower()

In [ ]:
work['clear'] = work['lead_paragraph'].copy()

In [ ]:

work['clear'] = work['clear'].str.lower()
work['clear'] = work['clear'].str.replace(r'[^\w\s]+', ' ', regex=True)
work['clear'] = work['clear'].str.replace(r'[0-9]+', ' ', regex=True)
work['clear'] = work['clear'].str.replace('\s+', ' ', regex=True)

In [ ]:
work.head()

In [ ]:
work.shape

In [10]:
with open(file_path + 'stop_en.txt', 'r', encoding='utf-8') as f:
        stopwords = f.read().split('\n')

In [11]:
nlp = en_core_web_sm.load()

In [12]:
def lemma_text(df):
    
    new_text = nlp(str(df['clear']))
    punctuations = string.punctuation
    
    mytokens = nlp(str(new_text))
    mytokens = [ word.lemma_.lower().strip() for word in mytokens ]
    mytokens = [ word for word in mytokens if word not in stopwords and word not in punctuations ]
    mytokens = " ".join([i for i in mytokens])
    return mytokens

In [19]:
work_1 = work[350000:400000]

In [ ]:
%%time

work_1['new'] = work_1.apply(lemma_text, axis=1)

In [ ]:
work_1.shape

In [18]:
work_1.to_csv(file_path + '/work_2000_4_2.csv', encoding='utf8', index=False)